#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.title-container {
  padding: 3% 15% 7%;
}

body {
  font-family: 'Montserrat-black', sans-serif;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  margin: 10px
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features{
  position: relative;
  padding: 8% 15%;
  background-color: #fff;
}

.fec-h3 {
  font-weight: 900;
  font-size: 1.2rem;
}


p {
  color: #8f8f8f;
}

.fec-icon {
  color: #ef8172;
  margin-bottom: .7rem;
}

.fec-icon:hover {
  color: #ff4c68;
}

.fec-col {
  text-align: center;
  padding: 0 70px;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-img {
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 30px;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

#pricing {
  text-align: center;
  padding: 7% 15%;
}

.container-pricing{
  margin-top: 5%;
}

.card{
  margin: 5%;
}
.card-header{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width:1028px) {
  .title-image{
    position: static;
    transform: rotate(0deg);
  }
  #title{
    text-align: center;
  }

}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 15% 7%;
  color: #fff;
}
.cta-h3{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
.cta-btn{
  margin: 45px 12px 5px;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 5% 15% 7%;
}
.ftr-icon{
  margin: 7px;
}
.ftr-a{
  color: #8f8f8f;
}
